.menu a[href] {
    color: unset;
    text-decoration: unset;
}

.menu {
    width: 100%;
    height: 100%;
    background-color: #161618;
    color: #929098;
    border-radius: 15px;
    font-size: 15px;
    font-family: Poppins;
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu > .menu-title {
    width: 100%;
    background-color: #1F1F21;
    display: block;
    border-radius: 15px 15px 0 0;
    margin-bottom: 5px;
    padding: 30px 15px;
    color: white;
    font-size: 30px;
    font-family: "Office Code Pro";
    user-select: none;
}

.menu > .menu-title > span {
    display: inline-block;
}

.menu > .menu-title > .title-icon {
    width: 23%;
    text-align: center;
    background-image: url("/images/lux_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}


.menu > .menu-items {
    padding: 15px;
    width: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.menu > .menu-items > .menu-item {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 0;
    margin-bottom: 15px;
    transition: 1s background;
    position: relative;
}

.menu > .menu-items > .menu-item.menu-exit {
    margin-top: auto;
}


.menu > .menu-items > .menu-item.notification::before {
    position: absolute;
    width: 7px;
    height: 7px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: rgb(255, 174, 0);
    content: "";
    border-radius: 100%;
    animation: fade_normal 2s infinite;
}

.menu > .menu-items > .menu-item:hover:not(.active) {
    background-color: rgb(40, 138, 89);
    color: rgb(64, 221, 143);
}

.menu > .menu-items > .menu-item > span {
    display: inline-block;
}

.menu > .menu-items > .menu-item > .menu-icon {
    width: 23%;
    text-align: center;
}

.menu > .menu-items > .menu-item.active {
    background-color: #4a4074;
    color: #bf9fe9;
}

@media only screen and (max-width: 600px) {

    .menu > .menu-title > .title-name,
    .menu > .menu-items > .menu-item > .menu-name,
    .menu > .menu-items > .menu-item.notification::before {
        display: none;
    }

    .menu > .menu-items > .menu-item > .menu-icon {
        width: 100%;
    }

    .divider.menu-container {
        min-width: unset !important;
        width: 15vw !important;
    }

    .menu > .menu-title > .title-icon {
        width: 100% !important;
    }

    .menu > .menu-items {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .menu > .menu-title {
        padding: 30px 0;
    }

    .menu > .menu-title,
    .menu > .menu-items > .menu-item {
        text-align: center !important;
    }
}
