.container.current-light {
    background-color: #000000;
}

.container.current-light > #currentColor {
    content: attr("data-current-light");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}