input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input, input::placeholder {
    color: #161618;
}



.window-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window-content > .vacontainer {
    height: auto;
    width: 100%;
}

.window-content > .vacontainer > .message {
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins";
    color: #79ff79;
    margin-bottom: 20px;

}

form {
    font-size: 16px;
    font-family: "Poppins";
    text-align: center;
}

form input[type=text], form input[type=url] {
    padding: 4px;
    border: none;
    height: 34px;
    border-radius: 5px;
}

form .info {
    padding-right: 15px;
}

form .info > i {
    color: #bf9fe9;
    transition: 1s color;
}

form .info > i:hover {
    color: #ffffff;
    cursor: help;
}

button {
    color: #bf9fe9;
    border: none;
    padding: 10px;
    font-family: "Poppins";
    background-color: #4a4074;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 20px 0px #4a4074;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    cursor: pointer;
    transition: 1s background-color, 1s color;
}

button:hover {
    background-color: #ffffff;
    color: #161618;
}

form > span.description {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Office Code Pro";
    font-size: 0.8em;
}

form > .row > input.codeentry {
    display: inline-block;
    width:  15vmin;
    max-width: 75px;
    max-height: 75px;
    height: 15vmin;
    text-align: center;
    font-size: min(7vmin, 45px);
    font-family: "Office Code Pro";
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    caret-color: transparent;
    border-radius: 5px;
    border: none;
    margin: 5px;
    align-self: center;
}

form > .row > input.codeentry:focus {
    background-color: #bf9fe9; 
}


form .hiddenSubmit {
    display: none !important;
}

form > .row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 20px;
}

form > .row > label[for] {
    flex-grow: 1;
    text-align: left;
}

form > .row > .switch {
    position: relative;
    width: 60px;
    height: 34px;
}

form > .row > .switch > input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

form > .row > .switch > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3a3a3a;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

form > .row > .switch > .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

form > .row > .switch > input:checked + .slider {
    background-color: #bf9fe9;
}

form > .row > .switch > input:focus + .slider {
    box-shadow: 0 0 1px #bf9fe9;
}

form > .row > .switch > input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}